* {
  margin: 0;
  padding: 0;
}

html,
body,
.app {
  width: 100%;
  height: 100%;
  position: relative;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.info {
  position: absolute;
  bottom: 0;
  right: 4.8rem;
  width: auto;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.img-rounded {
  border-radius: 50%;
}


@media (max-width: 700px) {
  .info {
    left: 10px;
    top: 20px;
    right: 10px;
    bottom: auto;
  }
}
