:host {
  width: 100%;
  height: 100%;
  // max-width: 620px;
  margin: 0;
  padding: 0;

  app-avatar {
    margin-right: 2.4rem;
  }

  .top-layer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}

